html, body {
	margin:0;
 	padding:0;
 	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
 	
}

#contact{
	background-color: #eaeaea;
	height: 10%;
	padding: 2px;
	border-bottom-color:black;
	border-bottom-width:medium;
}

#contact ul{
	margin-left: 8%;
}

#contact li{
	display:inline;
	padding: 10px;
	font-size:12px;	
}

#header{
	float:left;
	height: 10%;
	width: 80%;
	background-color: #002b53;
	margin: 0px 10% 0px 10%;
}

.logo{
	float:left;
	display: table-column;
	margin: 0px 50px 0px 0px;
}

.jumbotron {
	height: 30%;
	width: 80%;
	margin: 0px 10% 0px 10%;
}

.jumbotron img{
	width: 100%;
	height: 100%;
}

.breadcrumb{
	margin: 0px 10% 0px 10%;
}

.signup{
	margin: 0px 10% 0px 10%;
}

.signup a:hover{
	color: black;
}

a:visited {
color: black;
}

a:hover {
color:black;
}

.signup td{
	padding:30px;
}

.about{
	margin: 0px 10% 0px 10%;
	padding: 30px;
}

.about table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.about td {
	text-align:center;
	border-radius: 10px;
	padding: 20px;
	margin: 15px;
}


#content {
	height: 40%;
	background-color: #e7e1d1;
	margin: 0px 10% 0px 10%;
	padding: 30px;
}

#content p h3{
	font-family: Verdana, sans-serif;
	padding: 10px;
}

#footer {
	clear: both;
	height: 10%;
	bottom: 0px;
	background-color: #002b53;
	padding-bottom:10px;
	margin: 10px 10% 0px 10%;

}

#footer p{
	padding:15px;
	text-align:left;
	color:white;
}


